


@media screen and (min-width: 1200px) {
    
    .container {
        width: 1158px;
    }

    





/* --------------SECTION--------------- */

    .section> .container {
        max-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }   

    .thumb {
        background: var(--light-mode-color);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    
    .section .list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: space-between;
    }

    .section .title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        min-width: 264px;
    }

    


    
    
      
            



/* --------------FEATURES------------------ */







/* --------CUSTOMERS------------- */



.customers-item {
    width: calc((100% - 120px) / 6); 
   

}   

.customers-list {
    gap: 24px; 
    
}




}