


@media screen and (min-width: 1200px) {
    
    .container {
        width: 1158px;
    }

    

/*----------------HERO---------------------------------------*/
    .hero {
    background-image:var(--bg-gradient),
    url(../images/people\ office.jpg);
   
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    }

    @media (min-device-pixel-ratio: 2),
   (min-resolution: 192dpi),
   (min-resolution: 2dppx) {
   .box {
    background-image: var(--bg-gradient), url(../images/Desktob-bg-2px.jpg);
  }
}

    .hero .title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: var(--secondery-text-color);
    
        margin-bottom: 48px;
        min-width: 496px;
        margin-left: auto;
        margin-right: auto;
}

/* --------------SECTION--------------- */

    .section> .container {
        max-width: 1158px;
    }

    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }   

    .thumb {
        background: var(--light-mode-color);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8px;
    }

    
    .section .list {
        flex-wrap: nowrap;
        gap: 24px;
        justify-content: space-between;
    }

    .section .title {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .section .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        min-width: 264px;
    }

    


    
    
      
            



/* --------------FEATURES------------------ */







/* --------CUSTOMERS------------- */



.customers-item {
    width: calc((100% - 120px) / 6); 
   

}   

.customers-list {
    gap: 24px; 
    
}




}