
@media screen and (min-width: 480px) {

    .container {
        max-width: 428px;
        
     }



/*---------------NAV HEADER------------------------------*/

.header {
    max-height: 70px;
}

/* -----------MOB-MENU------------------------ */

.mob-menu-tel {
    
    font-size: 36px;
    
}


/* ----------CUSTOMERS------------- */










/* --------------SECTION--------------- */
}