




@media screen and (min-width: 768px) {
    
    
    /* ------------SECTION---------------- */

.section> .container {
    min-width: 766px;
    
}
.section .list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
    
}

.section .item {
    width: calc((100% - 24px) / 2);
    
}


.section .title {
    text-align: left;

}
    
    
    
    
 /* ---------CUSTOMERS----------- */   
    
    
    
    .container {
        width: 582px;
    }

    .customers-item {
        /* width: calc((100% - 120px) / 6);  */
        width: calc((100% - 48px) / 3);

    }   
    
    .customers-list {
        column-gap: 24px; 
        
    }





}